.min-info {
    &__name {
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        text-align: left;
        color: $grey;
        margin-bottom: 5px;
    }

    &__position {
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        text-align: left;
        color: $grey;
    }
}
