.slider-card {
    &__wrapper-content {
        background-color: #f5f5fa;
        padding: 30px;
        border-radius: 0 0 12px 12px;
    }

    &__wrapper-img {
        height: 500px;
    }

    &__img {
        width: 100%;
        border-radius: 12px 12px 0 0;
        max-width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }

    &__title {
        margin-bottom: 30px;
    }

    &__text {
        font-size: 30px;
        line-height: 37px;
        text-align: left;
    }

    @media (min-width: 768px) {
        &__title {
            font-size: 38px;
            line-height: 46px;
        }
    }

    @media (min-width: 992px) {
        & {
            display: grid;
            grid-template-columns: 400px 1fr;
            grid-template-rows: 1fr;
            padding: 0;

            &__wrapper-img {
                grid-row: span 4;
                height: 528px;
            }

            &__wrapper-content {
                padding: 30px;
                border-radius: 0 12px 12px 0;
            }

            &__img {
                width: 100%;
                border-radius: 12px 0 0 12px;
            }
        }
    }

    @media (min-width: 1200px) {
        &__wrapper-img {
            height: 344px;
        }
    }
}
